<%= form_for @user do |f| %>
    <%= f.text_field :name, required: true, placeholder: 'Name' %>

    <%= f.email_field :email, required: true, placeholder: 'Email' %>

    <button style ="margin-top:31px;" class="btn waves-effect waves-light z-depth-0" type="submit" name="action"><%= f.submit %></button>
<% end %>
