<div class="container">
  <h1>Users#edit</h1>
  <%= form_for @user do |f| %>
      <%= f.text_field :name, required: true, placeholder: 'Name' %>

      <%= f.email_field :email, required: true, placeholder: 'Email' %>

      <%= button_tag "Edit", :class => "btn waves-effect waves-light z-depth-0" %>
  <% end %>
</div>
