<div class="container">
  <div class="row">
    <div class="col s12 m4 l3">
      <h4>Profile</h4>
      <p>Name: <%= @user.name %></p>
      <p>Email: <%= @user.email %></p>
      <button class="btn waves-effect waves-light z-depth-0" type="button" name="action"><%= link_to("Edit", "/users/#{@user.id}/edit") %></button>
    </div>
    <div class="col s12 m4 l9">
      <h4>Projects</h4>
      <% @user.wireframes.each do |wireframe| %>
        <p><%= link_to(wireframe.name, "/wireframes/#{wireframe.id}") %></p>
      <% end %>
      <a class="waves-effect waves-light btn" href="/wireframes/new">New Project</a>
    </div>
  </div>
</div>
