<div class="hero">
  <div class="container" >
    <div class="row home-page">
      <div class="col s12 m4">
          <h6>Minimal Interface</h6>
          <p>We provide the building blocks, so you can get your ideas on a page before they fade away! Simply sign-up and get started.</p>
      </div>
      <div class="col s12 m4" >
          <h6>Simple &amp; Easy</h6>
          <p>Create a new project, select your stencil from the pop-out menu, drag across onto the canvas, position and resize! </p>

      </div>
      <div class="col s12 m4">
          <h6>12 Column Grid</h6>
          <p>Let the 12 column grid guide you, align to the columns and rows, let it worry about the spacing so you can focus on the rest!</p>
      </div>
    </div>
  </div>
</div>
