<div id="grid" class="ui-widget-header droppable">
  <div class="column-12 ui-widget-content" id="resizable-s">
    <div class="column" id="column1"></div>
    <div class="column" id="column2"></div>
    <div class="column" id="column3"></div>
    <div class="column" id="column4"></div>
    <div class="column" id="column5"></div>
    <div class="column" id="column6"></div>
    <div class="column" id="column7"></div>
    <div class="column" id="column8"></div>
    <div class="column" id="column9"></div>
    <div class="column" id="column10"></div>
    <div class="column" id="column11"></div>
    <div class="column" id="column12"></div>

    <div class="column-12">
      <div class="hori-row" id="hori-row1"></div>
      <div class="hori-row" id="hori-row2"></div>
      <div class="hori-row" id="hori-row3"></div>
      <div class="hori-row" id="hori-row4"></div>
      <div class="hori-row" id="hori-row5"></div>
      <div class="hori-row" id="hori-row6"></div>
      <div class="hori-row" id="hori-row7"></div>
      <div class="hori-row" id="hori-row8"></div>
      <div class="hori-row" id="hori-row9"></div>
      <div class="hori-row" id="hori-row10"></div>
      <div class="hori-row" id="hori-row11"></div>
      <div class="hori-row" id="hori-row12"></div>
      <div class="hori-row" id="hori-row13"></div>
      <div class="hori-row" id="hori-row14"></div>
      <div class="hori-row" id="hori-row15"></div>
      <div class="hori-row" id="hori-row16"></div>
      <div class="hori-row" id="hori-row17"></div>
      <div class="hori-row" id="hori-row18"></div>
      <div class="hori-row" id="hori-row19"></div>
      <div class="hori-row" id="hori-row20"></div>
      <div class="hori-row" id="hori-row21"></div>
      <div class="hori-row" id="hori-row22"></div>
      <div class="hori-row" id="hori-row23"></div>
      <div class="hori-row" id="hori-row24"></div>
      <div class="hori-row" id="hori-row25"></div>
      <div class="hori-row" id="hori-row26"></div>
      <div class="hori-row" id="hori-row27"></div>
      <div class="hori-row" id="hori-row28"></div>
      <div class="hori-row" id="hori-row29"></div>
      <div class="hori-row" id="hori-row30"></div>
      <div class="hori-row" id="hori-row31"></div>
      <div class="hori-row" id="hori-row32"></div>
      <div class="hori-row" id="hori-row33"></div>
      <div class="hori-row" id="hori-row34"></div>
      <div class="hori-row" id="hori-row35"></div>
      <div class="hori-row" id="hori-row36"></div>
      <div class="hori-row" id="hori-row37"></div>
      <div class="hori-row" id="hori-row38"></div>
      <div class="hori-row" id="hori-row39"></div>
      <div class="hori-row" id="hori-row40"></div>
      <div class="hori-row" id="hori-row41"></div>
      <div class="hori-row" id="hori-row42"></div>
      <div class="hori-row" id="hori-row43"></div>
      <div class="hori-row" id="hori-row44"></div>
      <div class="hori-row" id="hori-row45"></div>
      <div class="hori-row" id="hori-row46"></div>
      <div class="hori-row" id="hori-row47"></div>
      <div class="hori-row" id="hori-row48"></div>
      <div class="hori-row" id="hori-row49"></div>
      <div class="hori-row" id="hori-row50"></div>
    </div>
  </div>

</div>


<div class="container">
  <div id="header" class="ui-widget-content draggable" style="background: #e0e0e0; min-height: 74px; color: #ffffff; min-width: 200px; width: 200px;">
    <i class="material-icons">menu</i>
  </div>

  <div id="logo" class="ui-widget-content draggable" style="background: #757575; padding: 5px 0;
  text-align: center; color: #ffffff; max-height: 62px; min-height: 62px; max-width: 200px; min-width: 200px;">
    <h5>LOGO</h5>
  </div>

  <div id="menu-item" class="ui-widget-content draggable" style="background: #757575; text-align: center; color: #ffffff; max-height: 48px; min-height: 48px; max-width: 120px; min-width: 120px;">
    <p>MENU ITEM</p>
  </div>

  <div id="image" class="ui-widget-content draggable" style="background: rgba(117, 117, 117, 0.6); height: 100px; color: #ffffff; min-width: 200px; width: 200px;">
    <i class="material-icons">image</i>
  </div>

  <div id="background-color" class="ui-widget-content draggable" style="background: #e0e0e0; height: 100px; color: #ffffff; min-width: 200px; width: 200px;">
    <i class="material-icons">web</i>
  </div>


  <div id="heading1" class="ui-widget-content draggable" style="background: #757575; min-height: 59px; max-height: 59px; min-width: 200px; width: 200px;">
    <h3 style="margin: 5px auto; text-align: center; color: #ffffff">h1</h3>
  </div>

  <div id="heading2" class="ui-widget-content draggable" style="background: #757575; min-height: 49px; max-height: 49px; min-width: 200px; width: 200px;">
    <h4 style="margin: 5px auto; text-align: center; color: #ffffff">h2</h4>
  </div>

  <div id="heading3" class="ui-widget-content draggable" style="background: #757575; min-height: 39px; max-height: 39px; min-width: 200px; width: 200px;">
    <h5 style="margin: 5px auto; text-align: center; color: #ffffff">h3</h5>
  </div>

  <div id="paragraph" class="ui-widget-content draggable" style="background: #757575; max-height: 30px; min-height: 30px; min-width: 80px; width: 200px;">
    <p style="margin-top: 3px; text-align: center; color: #ffffff">p</p>
  </div>

  <div id="multi-paragraph" class="ui-widget-content draggable" style="background: #e0e0e0; min-width: 200px; width: 200px; height: 202px; min-height: 202px; max-height: 388.5px; overflow: hidden;">
    <div class="multi-paragraph-lines" style="background: #757575; max-height: 30px; min-height: 30px; margin: 16px 14.5px;">
    </div>
    <div class="multi-paragraph-lines" style="background: #757575; max-height: 30px; min-height: 30px; margin: 16px 14.5px;">
    </div>
    <div class="multi-paragraph-lines" style="background: #757575; max-height: 30px; min-height: 30px; margin: 16px 14.5px;">
    </div>
    <div class="multi-paragraph-lines" style="background: #757575; max-height: 30px; min-height: 30px; margin: 16px 14.5px;">
    </div>
    <div class="multi-paragraph-lines" style="background: #757575; max-height: 30px; min-height: 30px; margin: 16px 14.5px;">
    </div>
    <div class="multi-paragraph-lines" style="background: #757575; max-height: 30px; min-height: 30px; margin: 16px 14.5px;">
    </div>
    <div class="multi-paragraph-lines" style="background: #757575; max-height: 30px; min-height: 30px; margin: 16px 14.5px;">
    </div>
    <div class="multi-paragraph-lines" style="background: #757575; max-height: 30px; min-height: 30px; margin: 16px 14.5px;">
    </div>
  </div>

  <div id="input-search" class="ui-widget-content draggable" style="background: #ffffff; border: 2px solid #757575; max-height: 35px; min-height: 35px; min-width: 185px; width: 200px;">
    <i class="material-icons" style="color: #e0e0e0; margin-top:5px; margin-left: 5px;">search</i>
  </div>

  <div id="input-form" class="ui-widget-content draggable" style="background: #e0e0e0; min-width: 200px; width: 200px; min-height: 388.5px; max-height: 388.5px; text-align: center;">
    <div class="">
      <h5>FORM</h5>
    </div>
    <div style="background: #ffffff; border: 2px solid #757575; max-height: 35px; min-height: 35px; margin: 14.5px 25px;">
    </div>
    <div style="background: #ffffff; border: 2px solid #757575; max-height: 35px; min-height: 35px; margin: 14.5px 25px;">
    </div>
    <div style="background: #ffffff; border: 2px solid #757575; max-height: 35px; min-height: 35px; margin: 14.5px 25px;">
    </div>
    <div style="background: #ffffff; border: 2px solid #757575; max-height: 35px; min-height: 35px; margin: 14.5px 25px;">
    </div>
    <div style="background: #ffffff; border: 2px solid #757575; max-height: 35px; min-height: 35px; margin: 14.5px 25px;">
    </div>
    <div class="ui-widget-content draggable" style="background: #757575; text-align: center; color: #ffffff; border-radius: 4px; max-height: 50px; min-height: 50px; max-width: 150px; min-width: 150px; margin: 14.5px 25px; float: right;">
      <p>BUTTON</p>
    </div>
  </div>

  <div id="button" class="ui-widget-content draggable" style="background: #757575; text-align: center; color: #ffffff; border-radius: 4px; max-height: 50px; min-height: 50px; max-width: 150px; min-width: 150px;">
    <p>BUTTON</p>
  </div>

  <div id="arrow-top" class="ui-widget-content draggable" style="background: #ffffff; text-align: center; color: #e0e0e0; border-radius: 50%; max-height: 50px; min-height: 50px; max-width: 50px; min-width: 50px;">
    <i class="material-icons" style="font-size: 48px;">keyboard_arrow_up</i>
  </div>

  <div id="arrow-left" class="ui-widget-content draggable" style="background: #ffffff; text-align: center; color: #e0e0e0; border-radius: 50%; max-height: 50px; min-height: 50px; max-width: 50px; min-width: 50px;">
    <i class="material-icons" style="font-size: 48px;">keyboard_arrow_left</i>
  </div>

  <div id="arrow-right" class="ui-widget-content draggable" style="background: #ffffff; text-align: center; color: #e0e0e0; border-radius: 50%; max-height: 50px; min-height: 50px; max-width: 50px; min-width: 50px;">
    <i class="material-icons" style="font-size: 48px;">keyboard_arrow_right</i>
  </div>

  <div id="scroll-indicator" class="ui-widget-content draggable" style="background: none; border: none;  max-height: 15px; min-height: 15px; max-width: 52px; min-width: 52px;">
    <div style="background: #ffffff; border: 1px solid #dddddd; border-radius: 50%; max-height: 15px; min-height: 15px; max-width: 15px; min-width: 15px; display: inline-block">
    </div>
    <div style="background: #ffffff; border: 1px solid #dddddd; border-radius: 50%; max-height: 15px; min-height: 15px; max-width: 15px; min-width: 15px; display: inline-block">
    </div>
    <div style="background: #ffffff; border: 1px solid #dddddd; border-radius: 50%; max-height: 15px; min-height: 15px; max-width: 15px; min-width: 15px; display: inline-block">
    </div>
  </div>

  <div id="footer1" class="ui-widget-content draggable" style="background: #757575; text-align: center; color: #ffffff; max-height: 50px; min-height: 50px; min-width: 200px; width: 200px;">
    <p>© Footer</p>
  </div>

  <div id="bill" class="ui-widget-content draggable" style="background: #757575; text-align: center; color: #ffffff; max-height: 50px; min-height: 50px; min-width: 200px; width: 200px;">
    <img src="http://fillmurray.com/200/200" alt="">
  </div>

  <div id="footer2" class="ui-widget-content draggable" style="background: #757575; max-height: 200px; min-height: 200px; min-width: 200px; width: 200px;">
    <div style="background: #e0e0e0; height: 150px;">
    </div>
    <div style="text-align: center; color: #ffffff;">
      <p>© Footer</p>
    </div>
  </div>
</div>
