<div id="grid" class="ui-widget-header droppable">
  <div class="column-12 ui-widget-content" id="resizable-s">
    <div class="column" id="column1"></div>
    <div class="column" id="column2"></div>
    <div class="column" id="column3"></div>
    <div class="column" id="column4"></div>
    <div class="column" id="column5"></div>
    <div class="column" id="column6"></div>
    <div class="column" id="column7"></div>
    <div class="column" id="column8"></div>
    <div class="column" id="column9"></div>
    <div class="column" id="column10"></div>
    <div class="column" id="column11"></div>
    <div class="column" id="column12"></div>

    <div class="column-12">
      <div class="hori-row" id="hori-row1"></div>
      <div class="hori-row" id="hori-row2"></div>
      <div class="hori-row" id="hori-row3"></div>
      <div class="hori-row" id="hori-row4"></div>
      <div class="hori-row" id="hori-row5"></div>
      <div class="hori-row" id="hori-row6"></div>
      <div class="hori-row" id="hori-row7"></div>
      <div class="hori-row" id="hori-row8"></div>
      <div class="hori-row" id="hori-row9"></div>
      <div class="hori-row" id="hori-row10"></div>
      <div class="hori-row" id="hori-row11"></div>
      <div class="hori-row" id="hori-row12"></div>
      <div class="hori-row" id="hori-row13"></div>
      <div class="hori-row" id="hori-row14"></div>
      <div class="hori-row" id="hori-row15"></div>
      <div class="hori-row" id="hori-row16"></div>
      <div class="hori-row" id="hori-row17"></div>
      <div class="hori-row" id="hori-row18"></div>
      <div class="hori-row" id="hori-row19"></div>
      <div class="hori-row" id="hori-row20"></div>
      <div class="hori-row" id="hori-row21"></div>
      <div class="hori-row" id="hori-row22"></div>
      <div class="hori-row" id="hori-row23"></div>
      <div class="hori-row" id="hori-row24"></div>
      <div class="hori-row" id="hori-row25"></div>
      <div class="hori-row" id="hori-row26"></div>
      <div class="hori-row" id="hori-row27"></div>
      <div class="hori-row" id="hori-row28"></div>
      <div class="hori-row" id="hori-row29"></div>
      <div class="hori-row" id="hori-row30"></div>
      <div class="hori-row" id="hori-row31"></div>
      <div class="hori-row" id="hori-row32"></div>
      <div class="hori-row" id="hori-row33"></div>
      <div class="hori-row" id="hori-row34"></div>
      <div class="hori-row" id="hori-row35"></div>
      <div class="hori-row" id="hori-row36"></div>
      <div class="hori-row" id="hori-row37"></div>
      <div class="hori-row" id="hori-row38"></div>
      <div class="hori-row" id="hori-row39"></div>
      <div class="hori-row" id="hori-row40"></div>
      <div class="hori-row" id="hori-row41"></div>
      <div class="hori-row" id="hori-row42"></div>
      <div class="hori-row" id="hori-row43"></div>
      <div class="hori-row" id="hori-row44"></div>
      <div class="hori-row" id="hori-row45"></div>
      <div class="hori-row" id="hori-row46"></div>
      <div class="hori-row" id="hori-row47"></div>
      <div class="hori-row" id="hori-row48"></div>
      <div class="hori-row" id="hori-row49"></div>
      <div class="hori-row" id="hori-row50"></div>
    </div>
  </div>

</div>


<div class="container">
  <div id="header" class="ui-widget-content draggable" style="background: #e0e0e0; min-height: 74px; color: #ffffff; width: 200px;">
    <i class="material-icons">menu</i>
  </div>

  <div id="logo" class="ui-widget-content draggable" style="background: #757575; padding: 5px 0;
  text-align: center; color: #ffffff; max-height: 62px; min-height: 62px; max-width: 200px; min-width: 200px;">
    <h5>LOGO</h5>
  </div>

  <div id="image" class="ui-widget-content draggable" style="background: rgba(117, 117, 117, 0.6); height: 100px; color: #ffffff; width: 200px;">
    <i class="material-icons">image</i>
  </div>

  <div id="background-color" class="ui-widget-content draggable" style="background: #e0e0e0; height: 100px; color: #ffffff; width: 200px;">
    <i class="material-icons">web</i>
  </div>

  <div id="footer1" class="ui-widget-content draggable" style="background: #757575; text-align: center; color: #ffffff; max-height: 50px; min-height: 50px; width: 200px;">
    <p>© Footer</p>
  </div>

  <div id="footer2 resizable-e" class="ui-widget-content draggable" style="width: 200px; background: #757575; max-height: 200px; min-height: 200px;">
    <div style="background: #e0e0e0; height: 150px;">
    </div>
    <div style="text-align: center; color: #ffffff;">
      <p>© Footer</p>
    </div>
  </div>
</div>
