<%= form_for @wireframe do |f| %>
    <%= f.text_field :name, required: true, placeholder: 'Project Name' %>
    <button class="btn waves-effect waves-light z-depth-0 create" type="submit" name="action"><%= f.submit %></button>
<% end %>
