/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize/components/color";
 $primary-color: color("deep-orange", "accent-2") !default;
 $secondary-color: color("deep-orange", "base") !default;
 @import 'materialize';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 14px;
  color: #757575;
}

main {
  flex: 1 0 auto;
}

.container {
  width: 1240px;
}

nav {
  box-shadow: none;
}

nav a.button-collapse {
  margin-left: 0;
}

a {
  color: #757575;
}

main button a {
  color: #ffffff;
}


// 12-col-grid start //
.ui-widget-header {
  margin-bottom: 150px;
  background: none;
  border: 0;
  font-weight: normal;
}

#resizable-s {
  border: 0;
  border-bottom: 3px solid #dddddd;
  background: none;
  overflow: hidden;
  min-height: 100vh;
}

.column-12 {
  display: block;
  position: relative;
  width: 100%;
  height: 200vh;
  z-index: 0;
  top: 0;
  left: 0;
}

.column {
  margin: 0 1%;
  background: rgba(255,99,71,.12);
  float: left;
  width: 6.5%;
  height: 100%;
  display: inline-block;
}

#column1 {
  margin-left: 0;
}

#column12 {
  margin-right: 0;
}

.hori-row {
  margin: 1.9% 0;
  background: rgba(255,99,71,.12);
  height: 1.6%;
  background-repeat: repeat-y;
}
// 12-col-grid end //


// elements on hover or resize //
.selected {
  border: 1px solid #ffffff;
}


.page-footer {
  padding-top: 0;
}
