@import "materialize/components/color";
$primary-color: color("deep-orange", "accent-2") !default;
$secondary-color: color("deep-orange", "base") !default;
@import 'materialize';

body {
 display: flex;
 min-height: 100vh;
 flex-direction: column;
 font-size: 14px;
 color: #757575;
}

main {
 flex: 1 0 auto;
}

.container {
 width: 1240px;
}

nav a.button-collapse {
 margin-left: 0;
}

a {
 color: #757575;
}

main button a {
 color: #ffffff;
}

.login {
  width: 370px;
  margin: 100px auto;
  border: 1px solid #dddddd;
  border-radius: 20px;
  padding: 20px 35px;
}

.login h4, .login p {
  text-align: center;
}

.login .btn {
  width: 100%;
  margin-bottom: 40px;
}

.create .btn {
  width: 100%;
  margin-bottom: 15px;
}

.profile {
  margin-top: 50px;
  border: 1px solid #dddddd;
  border-radius: 20px;
  padding-left: 20px 35px;
  text-align: center;
}

.profile .btn {
  margin-bottom: 25px;
}

.project-dash {
  margin-top: 65px;
  margin-left: 40px;
}

.page-footer {
 padding-top: 0;
}
